{% extends '@happyWeb/Layout/base.html.twig' %}
{% block style %}
    <style>
        .nav-tabs .nav-link {
            color: #ffffff;
        }

        .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
            color: #ffffff;
            background-color: #ff7020;
            border-color: #ff7020 #ff7020 #ff7020 #ff7020;
        }

        .nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
            color: #ffffff;
            border-color: #ff7020 #ff7020 #ff7020 #ff7020;
            background-color: #ff7020;
        }
    </style>
{% endblock %}
{% block body %}
    <div class="project-type-background">
        <div class="medical-search">
            {% include  '@happyWeb/inc/inc-medical-search.html.twig' %}
        </div>
        <div class="container">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="float: left;padding: 0">
                {% for m in medical %}
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="float: left;margin-bottom: 25px;">
                        {% include  '@happyWeb/inc/inc-medical.html.twig' with {'detailpage': 1, 'isWifi': m.isWifi, 'isCard': m.isCard , 'isCar': m.isParking, 'headline': m.headline, 'img': m.photo, 'phone': m.phone, 'id': m.id, 'name' : m.name } %}
                    </div>
                {% endfor %}
                {% include '@happyWeb/Layout/page.html.twig' with {'route' : 'medicals'} %}
            </div>
        </div>

    </div>
{% endblock %}

{% block js %}
    <script>
        $(document).ready(function () {
            $value = $(".selectBox option:selected").text();
            if ($value != '') {
                defaulttext = $value;
            } else {
                defaulttext = 'Сонгоно уу...';
            }

            $('.selectDefault').text(defaulttext);

            $('.selectBox').on('change', function () {
                var selectedText = $(this).find(":selected").text();
                $('.selectDefault').text(selectedText);
            });
        });

        if (window.location.search != '') {
            $.each($('.pagination a'), function (key, val) {
                $(this).attr('href', $(this).attr('href') + window.location.search);
            });
        }

    </script>
{% endblock %}