/app/bootstrap.php.cache
/app/config/parameters.yml
/app/cache/*
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/*
/bin/
/.idea/
app/cache/

app/logs/
app/sessions/
src/happy/CmsBundle/Entity/Apasl.php~
src/happy/CmsBundle/Entity/Banner.php~
src/happy/CmsBundle/Entity/BannerPosition.php~
src/happy/CmsBundle/Entity/Content.php~
src/happy/CmsBundle/Entity/Device.php~
src/happy/CmsBundle/Entity/Doctors.php~
src/happy/CmsBundle/Entity/MedicalLab.php~
src/happy/CmsBundle/Entity/MedicalLabType.php~
src/happy/CmsBundle/Entity/MedicalMedType.php~
src/happy/CmsBundle/Entity/MedicalPhoto.php~
src/happy/CmsBundle/Entity/Medicals.php~
src/happy/CmsBundle/Entity/Notification.php~
src/happy/CmsBundle/Entity/Project.php~
src/happy/CmsBundle/Entity/ProjectInvestor.php~
src/happy/CmsBundle/Entity/ProjectT.php~
src/happy/CmsBundle/Entity/ProjectTeam.php~
src/happy/CmsBundle/Entity/User.php~
test/
tests/
Would skip repository vendor/friendsofsymfony/user-bundle
vendor/autoload.php
vendor/composer
vendor/container-interop
vendor/doctrine
vendor/incenteev
vendor/ircmaxell
vendor/jdorn
vendor/kriswallsmith
vendor/liuggio
vendor/monolog
vendor/paragonie
vendor/phpoffice
vendor/psr
vendor/sensio
vendor/sensiolabs
vendor/sly
vendor/swiftmailer
vendor/symfony
vendor/twig
vendor/zendframework
web/data.xml
web/resources/medical/img/phpET0wm0.jpeg
web/resources/medical/img/phpPcGmPN.jpeg
web/resources/medical/img/phpQ8WjhI.jpeg
web/resources/medical/img/phpZND3Ay.jpeg
web/resources/medical/img/phpaefgNT.png
web/resources/medical/img/phph345Rj.jpeg
web/resources/medical/img/phpkDY2AD.png
web/resources/medical/img/phpkmCbBl.jpeg
web/resources/medical/img/phppHxlLy.jpeg
web/resources/medical/img/phprIXtaa.png
web/resources/medical/img/phpvkANXf.png
web/stat/datetimepicker/tests/
welcome/
src/happy/CmsBundle/Entity/MedicalType.php~
web/resources/medical_type/
