{% extends '@happyWeb/Layout/base.html.twig' %}
{% block style %}
    <style>
        .white-text {
            font-size: 40px;
        }
    </style>
{% endblock %}
{% block body %}
    <div class="project-type-background">
        <div class="container" style="text-align: center;margin-bottom: 30px;margin-top: 110px;">

            <div class="row">
                <div class="col-md-6" style="margin-bottom: 30px">

                    <div class="view overlay hm-green-strong" style="background-color: #FFF;border: 2px solid #00ad9c;">
                        <img src="/resources/medical_type/img/full/phpM2hLpK.png"
                             class="img-fluid " alt="">
                        <div class="mask flex-center">
                            <p class="white-text">Том хүн</p>
                        </div>
                    </div>

                </div>


                <div class="col-md-6" style="margin-bottom: 30px">

                    <div class="view overlay hm-green-slight">
                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/People/6-col/img%20(7).jpg"
                             class="img-fluid " alt="">
                        <div class="mask flex-center">
                            <p class="white-text">Хүүхэд</p>
                        </div>
                    </div>

                </div>

                <div class="col-md-6" style="margin-bottom: 30px">

                    <div class="view overlay hm-green-slight">
                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/People/6-col/img%20(7).jpg"
                             class="img-fluid " alt="">
                        <div class="mask flex-center">
                            <p class="white-text">Эрэгтэй</p>
                        </div>
                    </div>

                </div>

                <div class="col-md-6" style="margin-bottom: 30px">

                    <div class="view overlay hm-green-slight">
                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/People/6-col/img%20(7).jpg"
                             class="img-fluid " alt="">
                        <div class="mask flex-center">
                            <p class="white-text">Эмэгтэй</p>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>
{% endblock %}

{% block js %}
{% endblock %}