{% extends '@happyWeb/Layout/base.html.twig' %}
{% block style %}
    <link href="{{ asset('recource/onlinedoctor/juma-quiz.min.css') }}" rel="stylesheet">
    <link href="{{ asset('recource/onlinedoctor/example.css') }}" rel="stylesheet">
{% endblock %}
{% block body %}
    <div class="project-type-background">
        <div class="container" style="text-align: center;margin-bottom: 30px;margin-top: 110px;" id="zz-quiz">
            <div>
                <h1>Цахим эмч буланд тавтай морил</h1>
                <div class="juma-quiz">
                    <ol id="js--my-quiz">
                        <li>
                            <h3 id="acc--question-one">Таны 3+4=6 зөв үү?</h3>
                            <ul>
                                <li role="checkbox" tabindex="0" aria-checked="false"
                                    aria-labelledby="acc--question-one"
                                    data-points="0">Тийм
                                </li>
                                <li role="checkbox" tabindex="0" aria-checked="false"
                                    aria-labelledby="acc--question-one"
                                    data-points="1">Үгүй

                            </ul>
                        </li>
                        <li>
                            <h3 id="acc--question-two">Таны 1+2=3 зөв үү?</h3>
                            <ul>
                                <li role="checkbox" tabindex="0" aria-checked="false"
                                    aria-labelledby="acc--question-two"
                                    data-points="1">Тийм
                                </li>
                                <li trole="checkbox" tabindex="0" aria-checked="false"
                                    aria-labelledby="acc--question-two"
                                    data-points="0">Үгүй
                                </li>
                            </ul>
                        </li>
                    </ol>
                    <ul class="juma-score">
                        <li data-points="1">
                            <h3>Хариулт</h3>
                            <p>
                                Та тоондоо дундаж юм байна.
                            </p>
                        </li>
                        <li data-points="2">
                            <h3>Хариулт</h3>
                            <p>
                                Та тоондоо сайн юм байна.
                            </p>
                        </li>
                        <li data-points="0">
                            <h3>Хариулт</h3>
                            <p>Та тоондоо муу юм байна.</p>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
{% block js %}
    <script type="text/javascript" src="{{ asset('recource/onlinedoctor/jquery.juma-quiz-min.js') }}"></script>
    <script>
        $(document).ready(function () {
            $('#zz-quiz').jumaQuiz({
                container: 'js--my-quiz',
                progress: false,
                nextAuto: true,
                showFinalScore: true,
                code: '1'
            });
        });
    </script>
{% endblock %}