{% extends '@happyWeb/Layout/base.html.twig' %}
{% block style %}
    <style>
        .white-text {
            font-size: 40px;
        }

        .hm-green-strong .full-bg-img, .hm-green-strong .mask
        {
            background-color: #39adad;
        }
    </style>
{% endblock %}
{% block body %}
    <div class="project-type-background">
        <div class="container" style="text-align: center;margin-bottom: 30px;margin-top: 110px;">

            <div class="row">
                <div class="col-md-6" style="margin-bottom: 30px">

                    <div class="view overlay hm-green-strong" style="background-color: #FFF;border: 2px solid #39adad;">
                        <img src="/resources/medical_type/img/full/phpXXJ26e.png"
                             class="img-fluid " alt="">
                        <div class="mask flex-center">
                            <p class="white-text">Том хүн</p>
                        </div>
                    </div>

                </div>


                <div class="col-md-6" style="margin-bottom: 30px">


                    <div class="view overlay hm-green-strong" style="background-color: #FFF;border: 2px solid #39adad;">
                        <img src="/resources/medical_type/img/full/phpZ3lTYL.png"
                             class="img-fluid " alt="">
                        <div class="mask flex-center">
                            <p class="white-text">Хүүхэд</p>
                        </div>
                    </div>

                </div>

                <div class="col-md-6" style="margin-bottom: 30px">

                    <div class="view overlay hm-green-strong" style="background-color: #FFF;border: 2px solid #39adad;">
                        <img src="resources/medical_type/img/full/phpM2hLpK.png"
                             class="img-fluid " alt="">
                        <div class="mask flex-center">
                            <p class="white-text">Эрэгтэй</p>
                        </div>
                    </div>

                </div>

                <div class="col-md-6" style="margin-bottom: 30px">

                    <div class="view overlay hm-green-strong" style="background-color: #FFF;border: 2px solid #39adad;">
                        <img src="/resources/medical_type/img/full/phpFqwACC.png"
                             class="img-fluid " alt="">
                        <div class="mask flex-center">
                            <p class="white-text">Эмэгтэй</p>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>
{% endblock %}

{% block js %}
{% endblock %}