{% extends '@happyWeb/Layout/base.html.twig' %}
{% block style %}
{% endblock %}
{% block body %}
    <div class="project-type-background">
        <div class="container" style="text-align: center;margin-bottom: 30px;margin-top: 110px;">


            <div class="row">
                <div class="col-md-12" style="margin-bottom: 30px">
                    <div class="home-header" style="margin-top: 35px;">
                        <h4><i class="fa fa-heartbeat"></i> Цахим эмч</h4>

                        <h3>"{{ name }}" бүлэг</h3>
                    </div>
                    <h5 style="margin-top: 30px; margin-bottom: 30px">Та доорх асуултуудаас сонгоно уу.</h5>
                    <div class="row">
                        <div class="col-md-3">
                        </div>
                        <div class="col-md-6">
                            <input type="text" class="form-control" placeholder="Асуудлаа бичнэ үү..." id="quesFilter" onkeyup="quesFilter()">
                        </div>
                        <div class="col-md-3">
                        </div>
                    </div>
                    <ul id="questList">
                        {% for key, q in questions %}
                            <li style="margin: 20px 0" class="quesRow"><a
                                        href="{{ path('online_doctor_answers', {'id': q.id ,'isfirst': 1}) }}"
                                        style="font-size: 20px" class="quesName">{{ q.name }}?</a></li>
                        {% endfor %}
                    </ul>

                    <a href="{{ path('online_doctor') }}" style="color: #000"><i class="fa fa-arrow-left"></i> <b>Эхлэл
                            хэсэглүү буцах</b></a>
                </div>

            </div>

        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        function quesFilter() {
            var input, filter, ul, li, a, i;
            input = document.getElementById("quesFilter");
            filter = input.value.toUpperCase();
            ul = document.getElementById("questList");
            li = ul.getElementsByClassName("quesRow");

            for (i = 0; i < li.length; i++) {
                a = li[i].getElementsByClassName("quesName")[0].innerHTML;
                if (a.toUpperCase().indexOf(filter) > -1) {
                    li[i].style.display = "block";
                } else {
                    li[i].style.display = "none";

                }
            }
        }
    </script>
{% endblock %}