{% extends '::base.html.twig' %}

{% block main %}
    {% include '@happyWeb/Layout/header.html.twig' %}
    <div class="body-margin">
        {% block body %}
        {% endblock %}
    </div>
    {% include '@happyWeb/Layout/footer.html.twig' %}

    <div class="store-icons">
        <a href="#" target="_blank"><img src="{{ asset('resources/apple.png') }}"></a>
        <a href="https://play.google.com/store/apps/details?id=mn.fullstream.emneleg" target="_blank"><img
                    src="{{ asset('resources/google.png') }}"></a>
    </div>
{% endblock %}