<div class="footer hidden-sm-down">
    <div class="container">
        <div class="col-lg-3 col-md-3  footer-line">
            {#<img src="{{ asset('recource/nst-logo.png') }}">#}
            <h6>
                ҮНДСЭН ЦЭСНҮҮД
            </h6>
            <ul>
                <li><a href="">Эмнэлгүүд</a></li>
                <li><a href="">Зөвлөгөө</a></li>
                <li><a href="">Сувилагч</a></li>
                <li><a href="">Цахим эмч</a></li>
            </ul>
        </div>
        <div class="col-lg-3 col-md-3 hidden-sm-down footer-line">
            {#<img src="{{ asset('recource/shuts-logo.png') }}">#}
            <h6>
                ХОЛБОО БАРИХ
            </h6>
            <ul>
                <li>Утас: 99031677</li>
                <li>Email: <a href="mailto:sales@mongolcontent.mn">support@emneleg.mn</a></li>
                <li><a href="#">Ёс зүйн зарчим</a></li>
                <li><a href="#">Сурталчилгаа байршуулах</a></li>
            </ul>

        </div>
        <div class="col-lg-3 col-md-3 hidden-sm-down footer-line">
            <h6>
                ХАЯГ
            </h6>
            <ul>
                <li>Хаяг: Монгол улс, Улаанбаатар хот,</li>
                <li>Чингэлтэй дүүрэг,</li>
                <li>Самбуугийн гудамж 18-1,</li>
                <li> Марс төв</li>
            </ul>

        </div>
        <div class="col-lg-2 col-md-2 hidden-sm-down footer-line">

            <h6>
                СОШИАЛ
            </h6>
            <ul>
                <li><a href="https://facebook.com" target="_blank"> Facebook</a></li>
                <li><a href="https://twitter.com" target="_blank"> Twitter</a></li>
                <li><a href="https://instagram.com" target="_blank"> Instagram</a></li>
                <li><a href="https://youtube.com" target="_blank">Youtube</a></li>

            </ul>
        </div>
    </div>
</div>
<div class="copy-right hidden-sm-down">
    <div class="container">
        <p class="copy-right-desc">© 2017 Бүрэн эрхтэй хуулиар хамгаалагдсан. Developed By Gombo Ganbat</p>
    </div>
</div>