<div class="nurse-block">
    <div class="nurse-img">
        <img src="{% if img %}{{ localstatfolder }}{{ img }}{% else %}{{ asset('recource/nurse-list.jpg') }}{% endif %}">
    </div>
    <div class="nurse-name">
        <h6>{{ name }}</h6>
        {% include  '@happyWeb/inc/inc-nurse-star.html.twig' with {'star': star} %}
    </div>
</div>