{% extends '@happyCms/base.html.twig' %}
{% block pageheader %}Эмнэлгийн админ хэсэг{% endblock %}

{% block body %}
    {% include ':inc:flashmsg.html.twig' %}
    {{ form_start(edit_form) }}
    {{ form_widget(edit_form) }}
    <input class="btn btn-success" type="submit" value="Засах"/>
    <a style="margin-bottom: 20px;margin-top: 20px;" class="btn btn-default" href="{{ path('cms_medical_index') }}">Эмнэлэг
        жагсаалт буцах</a>
    {{ form_end(edit_form) }}
{% endblock %}
