{% extends '@happyCms/base.html.twig' %}
{% block pageheader %}Эмнэлэлгийн төрөл нэмэх хэсэг{% endblock %}

{% block body %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input class="btn btn-success" type="submit" value="Хадгалах"/>
    <a style="margin-bottom: 20px;margin-top: 20px;" class="btn btn-default"
       href="{{ path('cms_medical_type_index') }}">Эмнэлгийн
        жагсаалт буцах</a>

    {{ form_end(form) }}
{% endblock %}
